<div class="row add-info-container">
    <div class="col">
        <div class="row mx-auto">
            <div class="col-8 add-info-form">
                <div class="row">
                    <div class="col">
                        <div class="section-head">Personal Details</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="head">First name</div>
                        <input type="text" class="input-field" placeholder="first name">
                    </div>
                    <div class="col">
                        <div class="head">Last name</div>
                        <input type="text" class="input-field" placeholder="last name">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="head">Address</div>
                        <textarea class="input-field" cols="80" rows="5" placeholder="Enter your address"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="head">Email</div>
                        <input type="text" class="input-field" placeholder="email">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="head">Phone no.</div>
                        <input type="text" class="input-field" placeholder="phone no.">
                    </div>
                </div>
                <div class="row experience-row">
                    <div class="col">
                        <div class="section-head">EXPERIENCE</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="head">Job title</div>
                        <input type="text" class="input-field" placeholder="job title">
                    </div>
                    <div class="col">
                        <div class="head">Employer</div>
                        <input type="text" class="input-field" placeholder="employer">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="head">City</div>
                        <input type="text" class="input-field" placeholder="city">
                    </div>
                    <div class="col">
                        <div class="head">State</div>
                        <input type="text" class="input-field" placeholder="state">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="head">Start date</div>
                        <input type="date" class="input-field">
                    </div>
                    <div class="col">
                        <div class="head">End date</div>
                        <input type="date" class="input-field">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="head">Job description</div>
                        <textarea class="input-field" cols="80" rows="5" placeholder="Enter job description"></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="section-head">Education Details</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="head">School/College name</div>
                        <input type="text" class="input-field" placeholder="School or college name">
                    </div>
                    <div class="col">
                        <div class="head">City</div>
                        <input type="text" class="input-field" placeholder="city">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="head">State</div>
                        <input type="text" class="input-field" placeholder="state">
                    </div>
                    <div class="col">
                        <div class="head">Degree</div>
                        <input type="text" class="input-field" placeholder="degree">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="head">Field of study</div>
                        <input type="text" class="input-field" placeholder="field of study">
                    </div>
                    <div class="col">
                        <div class="head">Graduation Date</div>
                        <input type="date" class="input-field">
                    </div>
                </div>
            </div>
            <div class="col-4 info-preview">
                <div class="section-head">
                    Filled Details
                </div>
            </div>
        </div>
    </div>
</div>