.app-container {
    background-color: #f8f8fb;

    .toolbar {
        height: 62px;
        background-color: #d2386c;
        align-items: center;
        display: flex;
        font-size: 24px;
        color: #ffffff;
        text-align: center;
        justify-content: center;
        font-weight: 600;
    }
}
